
  
<!DOCTYPE html>
<html lang="en">
<script src="jquery-3.4.0.min.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js">
</script>

<script type="text/javascript">
  function addproduct(productID,categoryID,image, name, price,size) {
    $.ajax('../my-cart/addproduct', // request url
      {
        type: 'POST',
        data: {
          productID: productID,
          categoryID:categoryID,
          image: image,
          name: name,
          price: price,
          size: size
        },
        success: function (data, status, xhr) { // success callback function
        }
      });
  }
  function comparePriceIncrease( a, b ) {
  if ( a.discountPrice > b.discountPrice ){
    return -1;
  }
  if ( a.discountPrice < b.discountPrice ){
    return 1;
  }
  return 0;
  
}
function comparePriceDecrease( a, b ) {
  if ( a.discountPrice < b.discountPrice ){
    return -1;
  }
  if ( a.discountPrice > b.discountPrice ){
    return 1;
  }
  return 0;
  
}
function filter( manufacturer){
  const flagFilter=document.getElementById("Filter").options[document.getElementById("Filter").selectedIndex].text;
  const form = document.createElement('form');
  form.method = 'post';
  form.action = '../products/filter';

      var hiddenField = document.createElement('input');
      hiddenField.value = manufacturer;
      hiddenField.name  = "value";
      hiddenField.type  = "hidden";
      form.appendChild(hiddenField);

      hiddenField = document.createElement('input');
      hiddenField.value = '<%= type %>';
      hiddenField.name  = "type";
      hiddenField.type  = "hidden";
      form.appendChild(hiddenField);

      hiddenField = document.createElement('input');
      hiddenField.value = flagFilter;
      hiddenField.name  = "filterName";
      hiddenField.type  = "hidden";
      form.appendChild(hiddenField);
  

  document.body.appendChild(form);
  form.submit();
}
</script>

<body>
  <!-- product category -->
  <section id="aa-product-category">
    <div class="container">
      <div class="row"  style="margin-left:-200px;">
        <div class="col-lg-9 col-md-10 col-sm-8 col-md-push-3">
          <div class="aa-product-catg-content">
              <%if (isRenderFilter == true) { %>
            <div class="aa-product-catg-head">
              <div class="aa-product-catg-head-left">
                <form action="" class="aa-sort-form">
                  <label for="">Sắp xếp theo</label>
                  <select id="Sort" name="" onchange="clickPagination(1,productInfo)">
                    <option value="1" selected="Default">Mặc định</option>
                    <option value="2">Giá tăng</option>
                    <option value="3">Giá giảm</option>
                  </select>
                </form>
              </div>
              <div class="aa-product-catg-head-left">
                  <form action="" class="aa-sort-form">
                    <label style="margin-left:10px;" for="">NSX</label>
                    <select id="Filter" name="" onchange="filter(this.options[this.selectedIndex].text)">
                      <option value="1" selected="Default" >Tất cả</option>
                      <%
                      if(listType){
                          for(let i =0;i< listType.length;i++){ 
                            if (manufaceturerName==listType[i]){ %>
                              <option value="<%= i %>" selected="Default"><%= listType[i]%></option>
                            <% }
                            else{ %>
                              <option value="<%= i %>"><%= listType[i]%></option>
                            <% } %>
                            
                          <%}
                      }else{
                         let manufacturerlist = new Array();
                      let tmpBrand;
                      for(let i=0;i < info.length;i++)
                      {
                        let flag=1;
                        for(let j=0;j < manufacturerlist.length;j++)
                        {
                         
                            if(manufacturerlist[j]===info[i].manufacturer)
                            {
                              flag=0;
                              break;
                            }
                          }
                        if(flag===1)
                        {
                          manufacturerlist.push(info[i].manufacturer);
                        }
                        
                      }
                      for(let i=0;i< manufacturerlist.length;i++ )
                      {
                        if(manufacturerlist[i]===manufaceturerName){ %>

                          <option value="<%= i %>" selected ="Default"><%= manufacturerlist[i]%></option>
                          <% } else{ %>

                            <option value="<%= i %>"><%= manufacturerlist[i]%></option>
                          
                          
                      <%}}}%>
                     
                    </select>
                  </form>
                </div>
              <div class="aa-product-catg-head-right">
                <a id="grid-catg" href="#"><span class="fa fa-th"></span></a>
                <a id="list-catg" href="#"><span class="fa fa-list"></span></a>
              </div>
            </div>
            <% } %>
            <div class="aa-product-catg-body">
              <ul id="listproduct" class="aa-product-catg">
                <%for(var i= 0; i< 6; i++) {
                          if (info[i]!=null){%>
                <li>
                  <figure>
                    <a class="aa-product-img" href="#"><img id="imgsrc1" width="250px" height="300px"
                        alt="polo shirt img" src=<%= info[i].image %> /></a>
                    <!-- <a class="aa-add-card-btn" href="../my-cart/addproduct/<%=type%>/`<%=info[i].image%>`/<%=info[i].productName%>/<%=info[i].discountPrice%>"><span class="fa fa-shopping-cart"></span>Thêm vào giỏ hàng</a> -->
                    <a class="aa-add-card-btn" href="#" id="addproduct"
                      onclick="addproduct(`<%=info[i].productID%>`,`<%=info[i].categoryID%>`,`<%=info[i].image%>`,`<%=info[i].productName%>`,`<%=info[i].discountPrice%>`,'S')"><span
                        class="fa fa-shopping-cart"></span>Thêm vào giỏ hàng</a>
                    <figcaption>
                      <h4 class="aa-product-title"><a href="/products/detail?id=<%=info[i].productID%>""><%= info[i].productName %></a></h4>
                              <span class=" aa-product-price"><%= info[i].discountPrice %> VNĐ</span>
                          <%if (info[i].promotionDiscount > 0) { %>
                          <span class="aa-product-price"><del><%= info[i].sellPrice %> đ</del></span>
                          <% } %>
                    </figcaption>
                  </figure>
                  <div class="aa-product-hvr-content">
                    <a href="#" data-toggle2="tooltip" data-placement="top" title="Quick View"
                      onclick="clickSearch(`<%= info[i].categoryID %>`,`<%= info[i].image %>`,`<%= info[i].productID %>`,`<%= info[i].productName %>`,`<%= info[i].discountPrice %>`,`<%= info[i].description %>`,`<%= info[i].categoryName %>`)"
                      data-toggle="modal" data-target="#quick-view-modal"><span class="fa fa-search"></span></a>
                  </div>
                  <!-- product badge -->
                  <%if (info[i].promotionDiscount > 0) { %>
                  <span class="aa-badge aa-sale">SALE!</span>
                  <span class="aa-badge-right aa-hot"><%= info[i].promotionDiscount %> %</span>
                  <% } %>
                </li>
                <% }} %>
              </ul>
              <!-- quick view modal -->
              <div class="modal fade" id="quick-view-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-body">
                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                      <div class="row">
                        <!-- Modal view slider -->
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <div class="aa-product-view-slider">
                            <div class="simpleLens-gallery-container" id="demo-1">
                              <div class="simpleLens-container">
                                <div class="simpleLens-big-image-container">
                                  <a class="simpleLens-lens-image">
                                    <img id="showImg" width="250px" height="300px" src="" class="simpleLens-big-image">
                                  </a>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <!-- Modal view content -->
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <div class="aa-product-view-content">
                            <h3 id="showName"></h3>
                            <div class="aa-price-block">
                              <span class="aa-product-view-price" id="showPrice">Giá tiền: </span>
                              <p class="aa-product-avilability">Tình trạng: <span>Hàng có sẵn</span></p>
                            </div>
                            <p id="showDescription">Mô tả sản phẩm:
                            </p>
                            <h4>Size</h4>
                            <div class="aa-prod-view-size">
                              <a href="#" onclick="selectedSize(this.text)">S</a>
                              <a href="#" onclick="selectedSize(this.text)">M</a>
                              <a href="#" onclick="selectedSize(this.text)">L</a>
                              <a href="#" onclick="selectedSize(this.text)">XL</a>
                            </div>
                            <div class="aa-prod-quantity">
                              
                              <p class="aa-prod-category" id="showCategory">
                                Loại: <a href="#"></a>
                              </p>
                            </div>
                            <div class="aa-prod-view-bottom">
                              <a href="#"onclick="addproduct(tmp_productID,tmp_categoryID,tmp_image,tmp_name,tmp_price,tmp_size)" class="aa-add-to-cart-btn"><span class="fa fa-shopping-cart"></span>Thêm vào
                                giỏ hàng</a>
                              <a id="linkProduct" href="" class="aa-add-to-cart-btn">Chi tiết</a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
              </div><!-- / quick view modal -->
            </div>
            <div class="aa-product-catg-pagination">
              <nav>
                <ul class="pagination">
                  <% for(var i=0; i<length/6; i++) { %>
                  <li><a href="#" onclick="clickPagination(`<%=i+1 %>`,productInfo)"> <%=i+1 %></a></li>
                  <% } %>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
  </section>
</body>
<script>
  const productInfo = encodeURI(`<%-JSON.stringify(info)%>`);
  var listNode = document.getElementById("listproduct");
  //var items=document.querySelectorAll("#listproduct li");
  function urlParam(name) {
    var results = new RegExp('[\?&]' + name + '=([^&#]*)')
      .exec(window.location.search);
    return (results !== null) ? results[1] || 0 : false;
  }
  
  function clickPagination(page, productInfo) {
    const flagSort=document.getElementById("Sort").options[document.getElementById("Sort").selectedIndex].value;
    const flagFilter=document.getElementById("Filter").options[document.getElementById("Filter").selectedIndex].text;
    const categoryID = '<%= type%>';
  
    console.log(categoryID);
    let info = [];
    const getListProductFunction = $.ajax({
      type: "POST",
      url: window.location.protocol + "//" + window.location.host + "/products" + "/get",
      data: {
        categoryID: categoryID,
        filterName:flagFilter
      },
      dataType: "json"
    }).done(function (resp) {

      console.log(window.location.protocol + "//" + window.location.host + "/products" + "/get");
      for (var k = 0; k < resp.info.length; k++)
        info.push(resp.info[k]);
        if (flagSort==3){
          info.sort(comparePriceIncrease);
        }else if (flagSort==2){
          info.sort(comparePriceDecrease);
        }
        
    }).fail(function (jqXHR, textStatus, errorThrown) {
      console.log("Error: " + textStatus);
      info = [];
    });
    getListProductFunction.then(function () {
      const items = document.querySelectorAll("#listproduct li");
      for (var j = 0; j < items.length; j++) {
        items[j].parentNode.removeChild(items[j]);
      }
      for (let i = (page - 1) * 6; i < (page - 1) * 6 + 6; i++) {
        if (info.length == i)
          break;
        let categoryID=info[i].categoryID;
        let image = info[i].image;
        let productID = info[i].productID;
        let pathProduct = "/products/detail?id=" + info[i].productID;
        let productName = info[i].productName;
        let discountPrice = info[i].discountPrice;
        let sellPrice = info[i].sellPrice;
        let promotionDiscount = info[i].promotionDiscount;
        let description = info[i].description;
        let categoryName = info[i].categoryName;
        if (promotionDiscount > 0) {
          const clicksearch1 = "clickSearch('"+categoryID+"','" + image + "','" + productID + "','" + productName + "','" +
            discountPrice +
            "','" + description + "','" + categoryName + "')";
          const addproduct1 = '<a class="aa-add-card-btn" href="#" id="addproduct" onclick="addproduct('+
            "'" + productID + "'" + ',' +"'" + categoryID + "'" + ','+
            "'" + image + "'" + ',' + "'" + productName + "'" + ',' + "'" + discountPrice + "'," + "'S'"+')"' +
            '><span class="fa fa-shopping-cart"></span>Thêm vào giỏ hàng</a>';
            console.log(addproduct1);
          $("#listproduct").append(
            '<li><figure> <a class="aa-product-img" href="#"><img id="imgsrc1" width="250px" height="300px" alt="polo shirt img" src=' +
            image + '></a>' +
            addproduct1 + `<figcaption><h4 class="aa-product-title"><a href="` + pathProduct + '">' +
            productName +
            '</a></h4><span class="aa-product-price">' + discountPrice +
            ' VNĐ</span><span class="aa-product-price"><del>' + sellPrice +
            ' đ</del></span></figcaption></figure><div class="aa-product-hvr-content"><a href="#" data-toggle2="tooltip" data-placement="top" title="Quick View" onclick="' +
            clicksearch1 +
            '" data-toggle="modal" data-target="#quick-view-modal"><span class="fa fa-search"></span></a></div><span class="aa-badge aa-sale">SALE!</span><span class="aa-badge-right aa-hot">' +
            promotionDiscount + '%' + '</span></li>');
        } else {
          const clicksearch2 = "clickSearch('"+categoryID+"','" + image + "','" + productID + "','" + productName + "','" +
            sellPrice +
            "','" + description + "','" + categoryName + "')";
          const addproduct2 = '<a class="aa-add-card-btn" href="#" id="addproduct" onclick="addproduct(' +
          "'" + productID + "'" + ',' +"'" + categoryID + "'" + ','+
            "'" + image + "'" + ',' + "'" + productName + "'" + ',' + "'" + discountPrice + "'," + "'S'"+ ')"' +
            '><span class="fa fa-shopping-cart"></span>Thêm vào giỏ hàng</a>';
          $("#listproduct").append(
            '<li><figure> <a class="aa-product-img" href="#"><img id="imgsrc1" width="250px" height="300px" alt="polo shirt img" src=' +
            image + '></a>' +
            addproduct2 + '<figcaption><h4 class="aa-product-title"><a href="' + pathProduct + '">' +
            productName +
            '</a></h4><span class="aa-product-price">' + discountPrice +
            ' VNĐ</span></figcaption></figure><div class="aa-product-hvr-content"><a href="#" data-toggle2="tooltip" data-placement="top" title="Quick View" onclick="' +
            clicksearch2 +
            '" data-toggle="modal" data-target="#quick-view-modal"><span class="fa fa-search"></span></a></div></li>'
            );
        }
      }
    });
  }
</script>
<script>
  var tmp_image, tmp_name,tmp_price,tmp_size,tmp_categoryID,tmp_productID;
  function selectedSize(value){
    tmp_size=value;
  }

  function clickSearch(categoryID,image, productID, productName, sellPrice, description, categoryName) {
    tmp_categoryID=categoryID;
    tmp_productID=productID;
    tmp_image=image;
    tmp_name=productName;
    tmp_price=sellPrice;
    document.getElementsByClassName("simpleLens-lens-image")[0].src = image;
    document.getElementById("showImg").src = image;
    document.getElementById("linkProduct").href = "/products/detail?id=" + productID;
    document.getElementById("showName").textContent = productName;
    document.getElementById("showPrice").textContent = 'Giá: ' + sellPrice;
    document.getElementById("showDescription").textContent = 'Mô tả: ' + description;
    document.getElementById("showCategory").textContent = 'Loại: ' + categoryName;
  }
</script>
</html>

