<script type="text/javascript">
  $('.counter-count').each(function () {
        $(this).prop('Counter',0).animate({
            Counter: $(this).text()
        }, {
            duration: 5000,
            easing: 'swing',
            step: function (now) {
                $(this).text(Math.ceil(now));
            }
        });
    });
    function clickPagination(page){
      const items = document.querySelectorAll("#listComment li");
      for (var j = 0; j < items.length; j++) {
        items[j].parentNode.removeChild(items[j]);
      }
      var info= new Array();
      info = JSON.parse('<%- JSON.stringify(productInfo)%>');
      console.log(info.comments);
      
      for (let i = (page - 1) * 1; i < (page - 1) * 1 + 1; i++) {
        if (info.comments.length == i) break;
        
        let name =info.comments[i].customerName;
        let comment=info.comments[i].comment;
        let date=info.comments[i].commentTime;
        console.log(name);
        
var myvar = '<li>'+
'                      <div class="media">'+
'                        <div class="media-left">'+
'                          <a href="#">'+
'                            <img class="media-object" src="../img/testimonial-img-3.jpg" alt="girl image">'+
'                          </a>'+
'                        </div>'+
'                        <div class="media-body">'+
'                          <h4 class="media-heading"><strong>'+name+`</strong> - <span>`+date+`</span></h4>`+
'                          <div class="aa-product-rating">'+
'                            <span class="fa fa-star"></span>'+
'                            <span class="fa fa-star"></span>'+
'                            <span class="fa fa-star"></span>'+
'                            <span class="fa fa-star"></span>'+
'                            <span class="fa fa-star-o"></span>'+
'                          </div>'+
'                          <p>'+comment+'</p>'+
'                        </div>'+
'                      </div>'+
'                    </li>';

$("#listComment").append(myvar);
	


	


      }
    }
    function postComment(){
      var type='<%- productInfo.productID %>'
      console.log($('#name').val()+"  "+$('#comment').val())
      if('<%= user %>'){
        $.ajax('../products/comment',
      {
        type: 'POST',
        data: {
          productID:type,
          email: $('#email').val(),
          comment: $('#comment').val()
        },
        success: function (data, status, xhr) { // success callback function
        }
      });
      }
      else{
        $.ajax('../products/comment',
      {
        type: 'POST',
        data: {
          productID:type,
          customerName: $('#name').val(),
          comment:$('#comment').val()
        },
        success: function (data, status, xhr) { // success callback function
        }
      });
    }
    }
  function addproduct(productID,categoryID,image, name, price,size) {
    console.log(image+name+price);
    if(size==""){
      size='S';
    }
    $.ajax('../my-cart/addproduct', // request url
      {
        type: 'POST',
        data: {
          productID:productID,
          categoryID:categoryID,
          image: image,
          name: name,
          price: price,
          size:size
        },
        success: function (data, status, xhr) { // success callback function
        }
      });
  }
</script>
<!-- catg header banner section -->
<section id="aa-catg-head-banner">
  <img src="../img/fashion/fashion-header-bg-8.jpg" alt="fashion img">
  <div class="aa-catg-head-banner-area">
    <div class="container">
      <div class="aa-catg-head-banner-content">
        <h2><%= listCategory.find(x => x.Id === productInfo.categoryID).name%></h2>
        <ol class="breadcrumb">
          <li><a href="/">Home</a></li>
          <%       
           %><li><a
              href="/products/type?id=<%=productInfo.categoryID%>"><%= listCategory.find(x => x.Id === productInfo.categoryID).name%></a>
          </li><%
           %><li class="active" style="color:yellow;"><%=productInfo.productName%></li><%
           %>
        </ol>
      </div>
    </div>
  </div>
</section>
<!-- / catg header banner section -->

<!-- product category -->
<section id="aa-product-details">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="aa-product-details-area">
          <div class="aa-product-details-content">
            <div class="row">
              <%
                  %><div class="col-md-5 col-sm-5 col-xs-12">
                <div class="aa-product-view-slider">
                  <div id="demo-1" class="simpleLens-gallery-container">
                    <div class="simpleLens-container">
                      <div class="simpleLens-big-image-container">
                          
                        <img src="<%=productInfo.image%>"
                          class="simpleLens-big-image"></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-7 col-sm-7 col-xs-12">
                <div class="aa-product-view-content">
                    
                  <h3><%=productInfo.productName%></h3>
                  
                  <div class="aa-price-block">

                    <h2><span class="label label-default"><%=productInfo.discountPrice%> VNĐ </span><p class="counter-count"><%= productInfo.viewCount%></p>
                        
                    </h2>
                    
                        
                    
                    
                    <b class="aa-product-avilability">Tình trạng:
                      <%if (productInfo['quantity'] > 0) { %>
                      <span style="margin-left:5px;" class="label label-success">Có sẵn hàng</span>
                      <% } %>

                      <%if (productInfo['quantity'] <= 0) { %>
                      <span style="margin-left:5px;" class="label label-error">Tạm Hết Hàng</span>
                      <% } %>

                    </b>
                  </div>
                  
                  <h4>Size</h4>
                  <div class="aa-prod-view-size">
                      <a href="#" onclick="selectedSize(this.text)">S</a>
                      <a href="#" onclick="selectedSize(this.text)">M</a>
                      <a href="#" onclick="selectedSize(this.text)">L</a>
                      <a href="#" onclick="selectedSize(this.text)">XL</a>
                  </div>
                  <h4>Màu</h4>
                  <div class="aa-color-tag">
                    <a href="#" class="aa-color-green"></a>
                    <a href="#" class="aa-color-yellow"></a>
                    <a href="#" class="aa-color-pink"></a>
                    <a href="#" class="aa-color-black"></a>
                    <a href="#" class="aa-color-white"></a>
                  </div>
                      Mục: <a
                        href="/products/type?id=<%=productInfo.categoryID%>"><%= listCategory.find(x => x.Id === productInfo.categoryID).name%></a>
                    </p>
                  </div>
                  <div class="aa-prod-view-bottom">
                    <%if (productInfo['quantity'] > 0) { %>
                    <a class="aa-add-to-cart-btn"  href="#" onclick="addproduct('<%=productInfo.productID%>','<%=productInfo.categoryID%>','<%=productInfo.image%>','<%=productInfo.productName%>','<%=productInfo.discountPrice%>',tmp_size)" >Thêm vào giỏ hàng</a>
                    <% } %>

                  </div>
                </div>
              </div>
            </div>
          </div><%
             %>
          <div class="aa-product-details-bottom">
            <ul class="nav nav-tabs" id="myTab2">
              <li><a href="#description" data-toggle="tab">Mô tả</a></li>
              <li><a href="#review" data-toggle="tab">Đánh giá</a></li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
              <div class="tab-pane fade in active" id="description">
                <%
                   %><p><%=productInfo.description%></p><%
                   %>

              </div>
              <div class="tab-pane fade " id="review">
                <div class="aa-product-review-area">
                  <h4><%= productInfo.comments.length %> đánh giá cho sản phẩm</h4>
                  <ul class="aa-review-nav" id="listComment">
                    <% for(let i=0; i< 1;i++){ %>
                    <li>
                      <div class="media">
                        <div class="media-left">
                          <a href="#">
                            <img class="media-object" src="../img/testimonial-img-3.jpg" alt="girl image">
                          </a>
                        </div>
                        <div class="media-body">
                          <h4 class="media-heading"><strong><%= productInfo.comments[i].customerName %></strong> - <span><%= productInfo.comments[i].commentTime %></span></h4>
                          <div class="aa-product-rating">
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star-o"></span>
                          </div>
                          <p><%= productInfo.comments[i].comment %></p>
                        </div>
                      </div>
                    </li>
                    <%}%>
                    
                    
                  </ul>
                  <div class="aa-product-catg-pagination">
                      <nav>
                        <ul class="pagination">
                          <% for(var i=0; i<productInfo.comments.length; i++) { %>
                          <li><a href="#" onclick="clickPagination(`<%=i+1 %>`)"> <%=i+1 %></a></li>
                          <% } %>
                        </ul>
                      </nav>
                    </div>
                  <h4>Thêm đánh giá</h4>
                  <div class="aa-your-rating">
                    <p>Đánh giá của bạn</p>
                    <a href="#"><span class="fa fa-star-o"></span></a>
                    <a href="#"><span class="fa fa-star-o"></span></a>
                    <a href="#"><span class="fa fa-star-o"></span></a>
                    <a href="#"><span class="fa fa-star-o"></span></a>
                    <a href="#"><span class="fa fa-star-o"></span></a>
                  </div>
                  <!-- review form -->
                  <form action="" class="aa-review-form">
                    <div class="form-group">
                      <label for="message">Nhận xét của bạn</label>
                      <input type="text" class="form-control" id="comment" placeholder="">
                    </div>
                    <% if(user){ %>
                      <div class="form-group" >
                          <label for="email">Email</label>
                          <input type="email" class="form-control" id="email" value="<%= user.email%>" disabled >
                        </div>
                    <%} else{%>
                    <div class="form-group" >
                      <label for="name">Tên</label>
                      <input type="text" class="form-control" id="name" placeholder="Name">
                    </div>
                    <%}%>
                    

                    <input type="button" onclick="postComment()" class="btn btn-default aa-review-submit" value="Đăng"></input>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <!-- Related product -->
          <div class="aa-product-related-item">
            <h3>Sản phẩm liên quan</h3>
            <ul class="aa-product-catg aa-related-item-slider">
              <% 
                 
                 productInfo.relatedProducts.forEach(product=>{
                  %><li>
                <figure>
                  <a class="aa-product-img"><img src="<%= product.image %>" alt="img"
                      style="height: 300px; width: 250px"></a>
                  <a  href="#" class="aa-add-card-btn" onclick="addproduct('<%=productInfo.productID%>','<%=productInfo.categoryID%>','<%= product.image %>','<%= product.productName %>','<%= product.discountPrice %>','S')"><span class="fa fa-shopping-cart"></span>Thêm vào giỏ hàng</a>
                  <figcaption>
                    <h4 class="aa-product-title"><a
                        href="/products/detail?id=<%=product['productID']%>"><%= product['productName']%></a></h4>
                    <span class="aa-product-price"><%= product['discountPrice']%> VNĐ</span>
                    <%if (product['promotionDiscount'] > 0) { %>
                    <span class="aa-product-price"><del><%= product['sellPrice'] %> đ</del></span>
                    <% } %>

                  </figcaption>
                </figure>
                <div class="aa-product-hvr-content">
                  <a href="#" data-toggle2="tooltip" data-placement="top" title="Quick View"
                    onclick="clickSearch('<%= product.image %>','/products/detail?id=<%=product.productID %>')"
                    data-toggle="modal" data-target="#quick-view-modal"><span class="fa fa-search"></span></a>
                </div>
                <%if (product['promotionDiscount'] > 0) { %>
                <span class="aa-badge aa-sale">SALE!</span>
                <span class="aa-badge-right aa-hot"><%= product['promotionDiscount'] %> %</span>
                <% } %>

              </li><%
                 })
                %>
            </ul>
            <!-- quick view modal -->
            <div class="modal fade" id="quick-view-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
              aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <div class="row">
                      <!-- Modal view slider -->
                      <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="aa-product-view-slider">
                          <div class="simpleLens-gallery-container" id="demo-1">
                            <div class="simpleLens-container">
                              <div class="simpleLens-big-image-container">
                                <a class="simpleLens-lens-image">
                                  <img id="showImg" src="" class="simpleLens-big-image">
                                </a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- Modal view content -->
                      <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="aa-product-view-content">
                          <h3>Tên sản phẩm</h3>
                          <div class="aa-price-block">
                            <span class="aa-product-view-price">Giá tiền</span>
                            <p class="aa-product-avilability">Tình trạng: <span>Hàng có sẵn</span></p>
                          </div>
                          <p>Mô tả sản phẩm</p>
                          <h4>Size</h4>
                          <div class="aa-prod-view-size">
                            <a href="#" onclick="selectedSize(this.text)">S</a>
                              <a href="#" onclick="selectedSize(this.text)">M</a>
                              <a href="#" onclick="selectedSize(this.text)">L</a>
                              <a href="#" onclick="selectedSize(this.text)">XL</a>
                          </div>
                          <div class="aa-prod-quantity">
                            <form action="">
                              <select name="" id="">
                                <option value="0" selected="1">1</option>
                                <option value="1">2</option>
                                <option value="2">3</option>
                                <option value="3">4</option>
                                <option value="4">5</option>
                                <option value="5">6</option>
                              </select>
                            </form>
                            <p class="aa-prod-category">
                              Loại: <a href="#"></a>
                            </p>
                          </div>
                          <div class="aa-prod-view-bottom">
                            <a href="#" class="aa-add-to-cart-btn"><span class="fa fa-shopping-cart"></span>Thêm vào giỏ
                              hàng</a>
                            <a id="linkProduct" href="" class="aa-add-to-cart-btn">Chi tiết</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div><!-- /.modal-content -->
              </div><!-- /.modal-dialog -->
            </div>
            <!-- / quick view modal -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- / product category -->
<script>
  var tmp_size;
  function selectedSize(value){
    tmp_size=value;
  }
  function clickSearch(linkimg, linkP) {
    document.getElementsByClassName("simpleLens-lens-image")[0].src = linkimg;
    document.getElementById("showImg").src = linkimg;
    document.getElementById("linkProduct").href = linkP;
  }
</script>