<!DOCTYPE html>
<html lang="en">
  <body>
      
         <!-- product category -->
         <section id="aa-product-category">
           <div class="container">
             <div class="row">
               <div class="col-lg-9 col-md-9 col-sm-8 col-md-push-3">
                 <div class="aa-product-catg-content">
                   <div class="aa-product-catg-head">
                     <div class="aa-product-catg-head-left">
                       <form action="" class="aa-sort-form">
                         <label for="">Sắp xếp theo</label>
                         <select name="">
                           <option value="1" selected="Default">Mặc định</option>
                           <option value="2">Tên</option>
                           <option value="3">Giá</option>
                         </select>
                       </form>
                     </div>
                     <div class="aa-product-catg-head-right">
                       <a id="grid-catg" href="#"><span class="fa fa-th"></span></a>
                       <a id="list-catg" href="#"><span class="fa fa-list"></span></a>
                     </div>
                   </div>
                   <div class="aa-product-catg-body">
                     <ul class="aa-product-catg" style="margin-left:-35px;">
                        <% for(var i=0; i<info.length; i++) {%>
                      <li>
                        <figure>
                            <a class="aa-product-img" href="#"><img id="imgsrc1" width="250px" height="300px" alt="polo shirt img" src=<%= info[i].image %> /></a>
                            <a class="aa-add-card-btn"href="#"><span class="fa fa-shopping-cart"></span>Thêm vào giỏ hàng</a>
                              <figcaption>
                              <h4 class="aa-product-title"><a href="/products/detail?id=<%=info[i].productID%>""><%= info[i].productName %></a></h4>
                              <span class="aa-product-price"><%= info[i].discountPrice %> VNĐ</span>
                              <%if (info[i].promotionDiscount > 0) { %>
                                <span class="aa-product-price"><del><%= info[i].sellPrice %> đ</del></span>
                              <% } %>
                              
                            </figcaption>
                          </figure>                        
                          <div class="aa-product-hvr-content">
                            <a href="#" data-toggle2="tooltip" data-placement="top" title="Quick View" onclick="clickSearch('<%= info[i].image %>','/products/detail?id=<%=info[i].productID %>')" data-toggle="modal" data-target="#quick-view-modal"><span class="fa fa-search"></span></a>                          
                          </div>
                          <!-- product badge -->
                          <%if (info[i].promotionDiscount > 0) { %>
                            <span class="aa-badge aa-sale">SALE!</span>
                            <span class="aa-badge-right aa-hot"><%= info[i].promotionDiscount %> %</span>
                            <% } %>
                         
                        </li>
                        <% } %>
                        
                     </ul>
                   <!-- quick view modal -->                  
      <div class="modal fade" id="quick-view-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">                      
              <div class="modal-body">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <div class="row">
                  <!-- Modal view slider -->
                  <div class="col-md-6 col-sm-6 col-xs-12">                              
                    <div class="aa-product-view-slider">                                
                      <div class="simpleLens-gallery-container" id="demo-1">
                        <div class="simpleLens-container">
                            <div class="simpleLens-big-image-container">
                                <a class="simpleLens-lens-image" >
                                    <img id="showImg" width="250px" height="300px" src="" class="simpleLens-big-image">
                                </a>
                            </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- Modal view content -->
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="aa-product-view-content">
                      <h3>Tên sản phẩm</h3>
                      <div class="aa-price-block">
                        <span class="aa-product-view-price">Giá tiền</span>
                        <p class="aa-product-avilability">Tình trạng: <span>Hàng có sẵn</span></p>
                      </div>
                      <p>Mô tả sản phẩm</p>
                      <h4>Size</h4>
                      <div class="aa-prod-view-size">
                        <a href="#">S</a>
                        <a href="#">M</a>
                        <a href="#">L</a>
                        <a href="#">XL</a>
                      </div>
                      <div class="aa-prod-quantity">
                        <form action="">
                          <select name="" id="">
                            <option value="0" selected="1">1</option>
                            <option value="1">2</option>
                            <option value="2">3</option>
                            <option value="3">4</option>
                            <option value="4">5</option>
                            <option value="5">6</option>
                          </select>
                        </form>
                        <p class="aa-prod-category">
                          Loại: <a href="#"></a>
                        </p>
                      </div>
                      <div class="aa-prod-view-bottom">
                        <a href="#" class="aa-add-to-cart-btn"><span class="fa fa-shopping-cart"></span>Thêm vào giỏ hàng</a>
                        <a id="linkProduct" href="" class="aa-add-to-cart-btn">Chi tiết</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>                        
            </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
        </div><!-- / quick view modal -->        
                   </div>
                   <div class="aa-product-catg-pagination">
                     <nav>
                       <ul class="pagination">
                         <li>
                           <a href="#" aria-label="Previous">
                             <span aria-hidden="true">&laquo;</span>
                           </a>
                         </li>
                         <li><a href="#">1</a></li>
                         <li><a href="#">2</a></li>
                         <li><a href="#">3</a></li>
                         <li><a href="#">4</a></li>
                         <li><a href="#">5</a></li>
                         <li>
                           <a href="#" aria-label="Next">
                             <span aria-hidden="true">&raquo;</span>
                           </a>
                         </li>
                       </ul>
                     </nav>
                   </div>
                 </div>
               </div>
               <div class="col-lg-3 col-md-3 col-sm-4 col-md-pull-9">
                 <aside class="aa-sidebar">
                   <!-- single sidebar -->
                   <div class="aa-sidebar-widget">
                     <h3>Mục</h3>
                     <ul class="aa-catg-nav">
                      <%
                      listCategory.forEach(category=>{
                        %><li>
                          <a href="/products/type?id=<%= category['Id'] %>" ><%= category['name'] %></a>
                        </li><%
                      });
                      %>

                     </ul>
                   </div>
                   <!-- single sidebar -->
                   <div class="aa-sidebar-widget">
                     <h3>Tags</h3>
                     <div class="tag-cloud">
                       <a href="#">KiriMaru</a>
                       <a href="#">Ma Bư</a>
                       <a href="#">StreetStyle</a>
                       <a href="#">Hot</a>
                       <a href="#">Sale</a>
                     </div>
                   </div>
             </div>
           </div>
         </section>
  
      <script>
          function clickSearch(linkimg,linkP)
          {
            document.getElementsByClassName("simpleLens-lens-image")[0].src=linkimg;
        document.getElementById("showImg").src=linkimg;
        document.getElementById("linkProduct").href=linkP;
          }
      </script>
      
    </body>
</html>