<div class="container" >
<div class="col-md-12 clearfix" id="customer-order">

    <p class="lead">Đơn hàng <strong><%= order.orderID %></strong>  được tạo ngày <strong><%= order.orderTime%></strong> và đang có trạng thái  <% if (order.status==="PROCESSING"){
        %><td><span class="label label-info">Soạn hàng</span></td><%
    }
    else{%>
        <% if(order.status==="SHIPPING"){
            %><td><span class="label label-warning">Shipping</span></td><%
        }else{
            %><td><span class="label label-success">Hoàn tất</span</td><%
        } %>
    <%}
    %>.</p>
    

    <div class="box">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Sản phẩm</th>
                        <th>Số lượng</th>
                        <th></th>
                        <th>Tổng tiền</th>
                    </tr>
                </thead>
                <tbody>
                        <% for(let i =0;i< order.orderDetail.length;i++)
                        {%>
                            <tr>
                                <td><a href="/products/detail?id=<%=order.orderDetail[i].productID%>"><%= order.orderDetail[i].productName %></a></td>
                                <td><%= order.orderDetail[i].quantity %></td>
                                <td></td>
                                <td><%= order.orderDetail[i].price %></td>
                            </tr>
        
                        <%}
                        %>
                </tbody>
                <tfoot>
                    <tr>
                        <th colspan="5" class="text-right">Tổng tiền</th>
                        <th><%= order.totalPrice %></th>
                    </tr>
                    <tr>
                        <th colspan="5" class="text-right">Phí vận chuyển</th>
                        <th>0</th>
                    </tr>
                    <tr>
                        <th colspan="5" class="text-right">Thuế</th>
                        <th>0</th>
                    </tr>
                    <tr>
                        <th colspan="5" class="text-right">Tổng cộng</th>
                        <th><%= order.totalPrice %></th>
                    </tr>
                </tfoot>
            </table>

        </div>
        <!-- /.table-responsive -->

    </div>
    <!-- /.box -->

</div>
</div>