<!DOCTYPE html>
<html lang="en">

<script type="text/javascript">
    function checkout(){
      $.ajax('../check-out',
      {
        type: 'POST',  
  data:{
    image: image,
    name: name,
    price:price
  },
  success: function (data) {
    
  }
      });
    }
    function removeProduct(image,name,price){
      $.ajax('../my-cart/removeProduct',   // request url
{          
  type: 'POST',  
  data:{
    image: image,
    name: name,
    price:price
  },
  success: function (data) { 
      
addRow(data.cart);
  }
});
    }
    function addRow(list){
      var tmp=$("#productTable").empty();
      var myvar='<tbody id="productTable">';
      let total=0;
      for(let i=0;i<list.length;i++){
        total+=list[i].count*list[i].price;
        myvar += '<tr>'+
'                                 <td><a class="remove" href="#" onclick="removeProduct('+"'"+ list[i].image+`','`+list[i].name+`','`+list[i].price+`')`+'"><fa class="fa fa-close"></fa></a></td>'+
'                                 <td><a href="#"><img src= "'+list[i].image+'"'+' alt="img"></a></td>'+
'                                 <td><a class="aa-cart-title" href="#">'+list[i].name+'</a></td>'+
'                                 <td>'+list[i].price+'</td>'+
'                                 <td><input class="aa-cart-quantity" type="number"  min="1" max="10" value="'+list[i].count+'"></td>'+
'                                 <td>'+list[i].price*list[i].count+'</td>'+
'                              </tr>';
      }
      myvar+='<tr>'+
'                        <td colspan="6" class="aa-cart-view-bottom">'+
'                          <input class="aa-cart-view-btn" type="submit" value="Cập nhật giỏ đồ">'+
'                        </td>'+
'                      </tr>';
      myvar+='</tbody>';
      console.log(myvar+total);
      document.getElementById("total").innerHTML =total;
      tmp.replaceWith(myvar);

    }
    
    </script>
  <body>
  <!-- catg header banner section -->
  <section id="aa-catg-head-banner">
   <img src="./img/fashion/fashion-header-bg-8.jpg" alt="fashion img">
   <div class="aa-catg-head-banner-area">
     <div class="container">
      <div class="aa-catg-head-banner-content">
        <h2>GIỎ ĐỒ</h2>
        <ol class="breadcrumb">
          <li><a href="index.html">Trang chủ</a></li>                   
          <li class="active">Giỏ đồ</li>
        </ol>
      </div>
     </div>
   </div>
  </section>
  <!-- / catg header banner section -->

 <!-- Cart view section -->
 <section id="cart-view">
   <div class="container">
     <div class="row">
       <div class="col-md-12">
         <div class="cart-view-area">
           <div class="cart-view-table">
             <form action="">
               <div class="table-responsive">
                  <table class="table">
                    <thead>
                      <tr>
                        <th></th>
                        <th></th>
                        <th>Sản phẩm</th>
                        <th>Giá</th>
                        <th>Số lượng</th>
                        <th>Tổng</th>
                      </tr>
                    </thead>
                    <tbody id="productTable">
                        <%if(list)
                        {
                          for (var i=0;i< list.length;i++){ 
                        
                        %>
                          <tr>
                               <td><a class="remove" href="#" onclick="removeProduct('<%= list[i].image %>','<%= list[i].name %>','<%= list[i].price %>')"><fa class="fa fa-close"></fa></a></td>
                               <td><a href="#"><img src='<%= list[i].image %>' alt="img"></a></td>
                               <td><a class="aa-cart-title" href="#"><%= list[i].name %></a></td>
                               <td><%= list[i].price %></td>
                               <td><input class="aa-cart-quantity" type="number" min="1" max="10" value="<%= list[i].count %>" ></td>
                               <td><%= list[i].price*list[i].count %></td>
                            </tr>
                     <%}}%>
                     <tr>
                        <td colspan="6" class="aa-cart-view-bottom">
                          <input class="aa-cart-view-btn" type="submit" value="Cập nhật giỏ đồ"></td>
                        </tr>
                      </tbody>
                      
                  </table>
                </div>
             </form>
             <!-- Cart Total view -->
             <div class="cart-view-total">
               <h4>Tổng cộng</h4>
               <table class="aa-totals-table">
                 <tbody>
                   <tr>
                     <%if(list)
                        {
                           var total=0
                          for (var i=0;i< list.length;i++){
                            total+=list[i].count*list[i].price;
                          }%>
                          <th>Total</th>
                          <td id="total"><%= total%></td>
                        <%}%>
                   </tr>
                 </tbody>
               </table>
               <a href="../check-out" class="aa-cart-view-btn" >Tiến hành thanh toán</a>
             </div>
           </div>
         </div>
       </div>
     </div>
   </div>
 </section>
 <!-- / Cart view section -->
  </body>
</html>