<body>
      <% include slider %>
      <% include promotion %>
      <% include banner %>
      <section id="aa-product">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="row">
                <div class="aa-product-area">
                  <div class="aa-product-inner">
                    <!-- start prduct navigation -->
                     <ul class="nav nav-tabs aa-products-tab">
                        <li class="active"><a href="#shirt" data-toggle="tab">Áo thun</a></li>
                        <li><a href="#pants" data-toggle="tab">Quần</a></li>
                        <li><a href="#shoes" data-toggle="tab">Giày</a></li>
                        <li><a href="#bags" data-toggle="tab">Ba lô</a></li>
                      </ul>
                      <!-- Tab panes -->
                      <div class="tab-content">
                        <!-- Start men product category -->
                        <div class="tab-pane fade in active" id="shirt">
                          <ul class="aa-product-catg">
                            <!-- start single product item -->
                            <% 
                            var i=0;
                            productOfPromo.forEach(product=>{
                              
                              if(product['categoryID']===listCategory.find(x => x.name === 'Áo').Id  )
                              {
                                %><li style=>
                                <figure>
                                  <a class="aa-product-img" ><img src="<%= product['image'] %>" alt="img" style="height: 300px; width: 250px"></a>
                                  <a class="aa-add-card-btn"><span class="fa fa-shopping-cart"></span>Thêm vào giỏ hàng</a>
                                    <figcaption>
                                    <h4 class="aa-product-title"><a href="products/detail?id=<%=product['productID']%>"><%= product['productName']%></a></h4>
                                    <span class="aa-product-price"><%= product['discountPrice']%> VNĐ</span><span class="aa-product-price"><del><%= product['sellPrice']%> đ</del></span>
                                  </figcaption>
                                </figure>                        
                                <div class="aa-product-hvr-content">
                                  <a href="#" data-toggle2="tooltip" data-placement="top" title="Quick View" onclick="clickSearch('<%= product.image %>')" data-toggle="modal" data-target="#quick-view-modal"><span class="fa fa-search"></span></a>                          
                                </div>
                                <!-- product badge -->
                                <span class="aa-badge aa-sale" href="#"><%= product['promotionDiscount']%> %</span>
                              </li><%
                              i=i+1;
                              }
                             
                            });
                
                            %>
                          </ul>
                          <%
                          var Id=listCategory.find(x => x.name === 'Áo').Id
                          %><a class="aa-browse-btn" href="/products/type?id=<%=Id %>">Xem tất cả sản phẩm<span class="fa fa-long-arrow-right"></span></a><%
                          %>
                        </div>

         
                        <div class="tab-pane fade" id="pants">
                          <ul class="aa-product-catg">
                            <!-- start single product item -->
                            <% 
                            var i=0;
                            productOfPromo.forEach(product=>{
                              
                              if(product['categoryID']===listCategory.find(x => x.name === 'Quần').Id  )
                              {
                                %><li style=>
                                <figure>
                                  <a class="aa-product-img" ><img src="<%= product['image'] %>" alt="img" style="height: 300px; width: 250px"></a>
                                  <a class="aa-add-card-btn"><span class="fa fa-shopping-cart"></span>Thêm vào giỏ hàng</a>
                                    <figcaption>
                                    <h4 class="aa-product-title"><a href="products/detail?id=<%=product['productID']%>"><%= product['productName']%></a></h4>
                                    <span class="aa-product-price"><%= product['discountPrice']%> VNĐ</span><span class="aa-product-price"><del><%= product['sellPrice']%> đ</del></span>
                                  </figcaption>
                                </figure>                        
                                <div class="aa-product-hvr-content">
                                  <a href="#" data-toggle2="tooltip" data-placement="top" title="Quick View" onclick="clickSearch('<%= product.image %>')" data-toggle="modal" data-target="#quick-view-modal"><span class="fa fa-search"></span></a>                          
                                </div>
                                <!-- product badge -->
                                <span class="aa-badge aa-sale" href="#"><%= product['promotionDiscount']%> %</span>
                              </li><%
                              i=i+1;
                              }
                             
                            });
                
                            %>                    
                          </ul>
                          <%
                          var Id=listCategory.find(x => x.name === 'Quần').Id
                          %><a class="aa-browse-btn" href="/products/type?id=<%=Id%>">Xem tất cả sản phẩm<span class="fa fa-long-arrow-right"></span></a><%
                          %>
                        </div>
                        <!-- / pants product category -->
                        <!-- start shoes product category -->
                        <div class="tab-pane fade" id="shoes">
                          <ul class="aa-product-catg">
                            <!-- start single product item -->
                            <% 
                            var i=0;
                            productOfPromo.forEach(product=>{
                              
                              if(product['categoryID']===listCategory.find(x => x.name === 'Giày').Id  )
                              {
                                %><li style=>
                                <figure>
                                  <a class="aa-product-img" ><img src="<%= product['image'] %>" alt="img" style="height: 300px; width: 250px"></a>
                                  <a class="aa-add-card-btn"><span class="fa fa-shopping-cart"></span>Thêm vào giỏ hàng</a>
                                    <figcaption>
                                    <h4 class="aa-product-title"><a href="products/detail?id=<%=product['productID']%>"><%= product['productName']%></a></h4>
                                    <span class="aa-product-price"><%= product['discountPrice']%> VNĐ</span><span class="aa-product-price"><del><%= product['sellPrice']%> đ</del></span>
                                  </figcaption>
                                </figure>                        
                                <div class="aa-product-hvr-content">
                                  <a href="#" data-toggle2="tooltip" data-placement="top" title="Quick View" onclick="clickSearch('<%= product.image %>')" data-toggle="modal" data-target="#quick-view-modal"><span class="fa fa-search"></span></a>                          
                                </div>
                                <!-- product badge -->
                                <span class="aa-badge aa-sale" href="#"><%= product['promotionDiscount']%> %</span>
                              </li><%
                              i=i+1;
                              }
                             
                            });
                
                            %>                    
                          </ul>
                          <%
                          var Id=listCategory.find(x => x.name === 'Giày').Id
                          %><a class="aa-browse-btn" href="/products/type?id=<%=Id%>">Xem tất cả sản phẩm<span class="fa fa-long-arrow-right"></span></a><%
                          %>
                        </div>
                        <!-- / shoes product category -->
                        
                        <!-- start bags product category -->
                        <div class="tab-pane fade" id="bags">
                           <ul class="aa-product-catg">
                            <!-- start single product item -->
                            <% 
                            var i=0;
                            productOfPromo.forEach(product=>{
                              
                              if(product['categoryID']===listCategory.find(x => x.name === 'Balo').Id  )
                              {
                                %><li style=>
                                <figure>
                                  <a class="aa-product-img" ><img src="<%= product['image'] %>" alt="img" style="height: 300px; width: 250px"></a>
                                  <a class="aa-add-card-btn"><span class="fa fa-shopping-cart"></span>Thêm vào giỏ hàng</a>
                                    <figcaption>
                                    <h4 class="aa-product-title"><a href="products/detail?id=<%=product['productID']%>"><%= product['productName']%></a></h4>
                                    <span class="aa-product-price"><%= product['discountPrice']%> VNĐ</span><span class="aa-product-price"><del><%= product['sellPrice']%> đ</del></span>
                                  </figcaption>
                                </figure>                        
                                <div class="aa-product-hvr-content">
                                  <a href="#" data-toggle2="tooltip" data-placement="top" title="Quick View" onclick="clickSearch('<%= product.image %>')" data-toggle="modal" data-target="#quick-view-modal"><span class="fa fa-search"></span></a>                          
                                </div>
                                <!-- product badge -->
                                <span class="aa-badge aa-sale" href="#"><%= product['promotionDiscount']%> %</span>
                              </li><%
                              i=i+1;
                              }
                             
                            });
                
                            %>                    
                          </ul>
                          <%
                          var Id=listCategory.find(x => x.name === 'Balo').Id
                          %><a class="aa-browse-btn" href="/products/type?id=<%=Id %>">Xem tất cả sản phẩm<span class="fa fa-long-arrow-right"></span></a><%
                          %>
                        </div>
                        <!-- / electronic product category -->
                      </div>
                     
      <!-- / Products section -->
      <% include quickviewmodal %>
      <% include support %>
</body>
<script>
  function clickSearch(linkimg)
    {
      document.getElementsByClassName("simpleLens-lens-image")[0].src=linkimg;
      document.getElementById("showImg").src=linkimg;
    }
</script>